  body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }


  /* TODO: Add CSS for the rest of your solution below */

  .flex {
    display: flex;
  }
  .redExample2 {
    width: 80px;
    background-color: red;
  }
  .square {
    margin : 10px;
    width: 50px;
    height: 50px;
  }

  .redExample7 {
    width: 5%;
    height: 60px;
    background-color: red;
  }

  .wrapper2 { 
    width: 100%;
    height: 60px;
    background-color: blue;
    justify-content: center;
    align-items: center;
  }

  .wrapper7 { 
    width: 100%;
    height: 60px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .greenLine {
    width: 100%;
    height: 10px;
    background-color: green;
  }
  .yellowExample {
    width: 55px;
    background-color: #f5c542;
  }
  .yellowExample2 {
    width : 15%;
    height: inherit;
    background-color: #f5c542;
  } 
  .space_between {
    justify-content: space-between;
  }